.typography {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing:2px;
    line-height: 20px;
    font-size: 15px;
    color: rgb(116, 91, 28);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.r,.sk,.sc {
    height: 100px;
    width: 100px;
    background-color: wheat;
    color: darkred;
}

.r {
    transform: rotateY(45deg);
}

.sk {
    transform: skewY(12deg);
}

.sc {
    transform: scaleY(0.5);
}


.decoration {
    text-decoration: line-through;
    text-transform: capitalize;
}

.shadow {
    text-shadow: 3px 2px 3px black;
}

.indent {
    text-indent: 15px;
}

.boxshadow {
    height: 100px;
    width: 100px;
    box-shadow: 5px 5px 5px black;
}